<br>
<div class="row" ng-controller="HomepageCtrl">
	<div class="col-xs-12">
		<center>
			<h2>Play with Mongo's NoSQL Database</h2>
		</center>
		<center>
			<h4 style="color:black">List of COLLECTIONS</h4>
		</center>
	
<br>

	<center>
	  <form action="/users" method="get">
		  <div>
		  	<button class="btn btn-info">db.userlist</button>
		  </div>
	  </form>
	</center>

	<center>
		<form action="/items" method="get">
		  <div>
		  	<button class="btn btn-info">db.itemlist</button>
		  </div>
		</form>
	</center>
	</div>
	
	<center>
		<form action="/joins" method="get">
		  <div>
		  	<button class="btn btn-default">Join these lists</button>
		  </div>
		</form>
	</center>
	</div>
</div>
<br>
