<html>
<head>
  <title>Node & Mongo</title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container" ng-app="mongo">
	<div class='space2'></div>
	<h4><%= title %></h4>
  	<%- body %>
  </div>
  
 <script src="/vendor/jquery.js"></script>
 <script src="/vendor/inputmask.js"></script>
 <script src="/vendor/jquery.inputmask.js"></script>
 <script src="/vendor/bootstrap.min.js"></script>
 <script src="/vendor/angular.js"></script>
 <script src="/javascripts/mongo.js"></script>
 <script src="/javascripts/factories/dynamic_data_factory.js"></script>  
 <script src="/javascripts/controllers/homepage_controller.js"></script>
 <script src="/javascripts/controllers/items_controller.js"></script> 
 <script src="/javascripts/controllers/users_controller.js"></script> 
 <script src="/javascripts/directives/padding_directive.js"></script>  
</body>

</html>