body {
  background: aliceblue;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.padded-content {
	padding: 5px;
}

a {
  color: #00B7FF;
}

table,th,td {
  border:3px solid black; 
}

.space2 {
	margin-bottom: 30px;
}

.custom {
	border: 1px solid yellowgreen;
}

h1,h2,h3,h4,h5 {
	font-weight: 800;
}
