<div class="row">
	<h1>ItemCollection</h1>
	<div class="col-lg-12 col-md-12">

		<div class="space2"></div>
			<a href="/items/new">
				<span class="label label-primary">Create a New Item</span>
			</a>
		<div class="space2"></div>

		<a href="/">Back to Home Page</a>
	</div>
</div>
