<form id="formAddItem" name="additem" method="post" action="/items">
  
  <input type="text" name="userid" id="inputUserId" placeholder="User's ID number"><br>
  <input type="text" name="itemname" id="inputItemName" placeholder="Item Name">

  
  <br><br>
  
  <input type="text" name="attributename" id="inputItemAttr" placeholder="  Invent an Attribute (optional)"><br/>
  <input type="text" name="attributeval" id="inputItemVal" placeholder="  Value of Attribute (optional)"><br><br>
  <button id="btnSubmit">Create Item</button>
</form>
