<div class="row">
<h1>UserCollection</h1>

<table>
<% user_list.forEach(function(user) { %>


</table>
</div>
<br>
<a href="/users/new">
  <span class="label label-primary">Create A New User</span>
</a>

<div style="width:100px; display:inline-block">  </div>


<a href="/">Back to Home Page</a>
