<div>
	<form method="post" action="/users">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="form-group">
					<input class="form-control" type="text" name="user[uid]" placeholder="User Id">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="user[username]" placeholder="User Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="user[email]" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="form-group">
					<input class="form-control custom" type="text" name="user[attributename]"  placeholder="Custom Attribute (optional)">
				</div>
			</div>
			<div class='col-lg-4 col-md-4'>
				<div class="form-group">
					<input class="form-control custom" type="text" name="user[attributeval]"  placeholder="Custom Value (optional)">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="form-group">
					<button class="btn btn-default">Create User</button>
				</div>
			</div>
		</div>
	</form>
</div>

